registry=https://pkgs.dev.azure.com/boxfusion/_packaging/npm.boxfusion.co.za/npm/registry/
always-auth=true
 
; begin auth token
//pkgs.dev.azure.com/boxfusion/_packaging/npm.boxfusion.co.za/npm/registry/:username=boxfusion
//pkgs.dev.azure.com/boxfusion/_packaging/npm.boxfusion.co.za/npm/registry/:_password=MnRObjY2ZVE4R1U4Y1Bwb3dqSFN5Nnl6cUlmZmJ6elRnWjJ4Nk80VjZmRUNwc0ZzVUk5akpRUUo5OUNGQUNBQUFBQXI2QXhrQUFBU0FaRE8zeFRR
//pkgs.dev.azure.com/boxfusion/_packaging/npm.boxfusion.co.za/npm/registry/:email=lesego.lelaka@boxfusion.io
//pkgs.dev.azure.com/boxfusion/_packaging/npm.boxfusion.co.za/npm/:username=boxfusion
//pkgs.dev.azure.com/boxfusion/_packaging/npm.boxfusion.co.za/npm/:_password=MnRObjY2ZVE4R1U4Y1Bwb3dqSFN5Nnl6cUlmZmJ6elRnWjJ4Nk80VjZmRUNwc0ZzVUk5akpRUUo5OUNGQUNBQUFBQXI2QXhrQUFBU0FaRE8zeFRR
//pkgs.dev.azure.com/boxfusion/_packaging/npm.boxfusion.co.za/npm/:email=lesego.lelaka@boxfusion.io
 